/* size devices */
$smartphone         : "(min-device-width : 320px) and (max-device-width : 480px)";
$smartphoneLandscape: "(min-width : 321px)";
$tablets            : "(min-width: 480px) and (max-width: 991px)";
$minidesktop        : "(min-width: 992px) and (max-width: 1199px)";
$desktop            : "(min-width: 992px)";
$tv                 : "(min-width: 1280px)";